[submodule "vendor/rspec"]
	path = vendor/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/samaaron-rosc"]
	path = vendor/samaaron-rosc
	url = git://github.com/samaaron/rosc.git
[submodule "vendor/rainbow"]
	path = vendor/rainbow
	url = git://github.com/sickill/rainbow.git
[submodule "vendor/arika-ruby-termios"]
	path = vendor/arika-ruby-termios
	url = git://github.com/arika/ruby-termios.git
[submodule "vendor/monome_serial"]
	path = vendor/monome_serial
	url = git://github.com/samaaron/monome_serial.git
